.header{
    border : 1px dotted black;
    background: #e2e1e0;
    text-align: center;
    color : #1b1b1b;
    padding: 1% 35%;
}

.subtitle{
    width: 100%;
    background-color: white;
    border-radius: 4px;
}