@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

body,
html {
  margin: 0 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: "Quicksand", sans-serif;
  /* dangerous property */
  /* overflow-x: hidden; */
  width: 100%;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1;
}
