.Container {
  flex: 1;
  background-color: rgba(252, 245, 170, 0.877);
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2fr 0.5fr auto 2fr;
  grid-template-areas:
    "Score Score"
    "Monthly Subjectivity"
    "Tabs Tabs"
    "TabsDaily TabsDaily";
}

.Score {
  padding: 10px 10px;
  grid-area: Score;
  display: flex;
}

.Monthly {
  grid-area: Monthly;
  margin: 10px 10px;
}
.Subjectivity {
  grid-area: Subjectivity;
  margin: 10px 10px;
}

.Tabs {
  grid-area: Tabs;
  text-align: center;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.TabsDaily {
  grid-area: TabsDaily;
}

.Tab {
  background-color: #191919;
  margin: 0 5px;
  border: 1px solid white;
  color: white;
}

.Tab h1 {
  margin: 3px 0;
  font-size: 1.5rem;
}

.Tab:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}
