:root {
  --background: #e2e1e0;

  /* // border radius */
  --radius: 4px;

  /* //Text */
  --heading: #424242;
  --text: #1b1b1b;
  --sub-text: #6d6d6d;

  /* // Color */
  --happy: #fddb22; /*/use as overall*/
  --fear: #3d3d3d; /*/use as hashtal*/
  --sad: #3333ff; /*/use as today*/
  --anger: #ff1f1f;

  /* //Box Shadow */
  --card: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --card-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --card-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --rest: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.App {
  display: flex;
  flex: 1;
  flex-flow: column;
}
